.news {
	width: 100%;
	max-width: 1920px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 200px;
}
.news__block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.new-big {
	display: flex;
	background: #e8e8e8;
	border-radius: 48px;
	margin: 0 10px 7px 0;
	max-height: 385px;
	max-width: 1053px;
}

.new-big__title {
	font-family: 'NeueMachina', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 122%;
	text-transform: uppercase;
	color: #5a5a5a;
	margin: 0;
	padding: 45px 0 20px 43px;
}

.new-big__description {
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 143%;
	color: #5a5a5a;
	margin: 0;
	padding: 0 40px 40px 43px;
	width: 100%;
	max-width: 407px;
}

.new-big__button {
	border: none;
	padding: 33px 90px;
	background: #5e4dcd;
	border-radius: 15px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 47px 43px;
}

.new-big__photo {
	background-image: url('../../images/new-big.png');
	background-repeat: no-repeat;
	width: 100%;
	width: 547px;
	height: 330px;
	margin: 26px 36px 29px 0;
}

.new-small {
	display: flex;
	background: #e8e8e8;
	border-radius: 48px;
	max-height: 385px;
	max-width: 517px;
}

.new-small__title {
	font-family: 'NeueMachina', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 139.5%;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 63px 0 25px 0;
	color: #5e4dcd;
}

.new-small__description {
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 143%;
	margin: 0;
	padding: 0 60px 30px 50px;
	width: 100%;
	max-width: 408px;
	text-align: center;

	color: #5a5a5a;
}

.new-small__button {
	border: none;
	padding: 33px 90px;
	background: #5e4dcd;
	border-radius: 15px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin: 0 108px 47px;
}

.new-medium {
	display: flex;
	background: #e8e8e8;
	border-radius: 48px;
	margin: 0 10px 7px 0;
	max-height: 385px;
	max-width: 836px;
}

.new-medium__title {
	font-family: 'NeueMachina', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 122%;
	text-transform: uppercase;
	color: #5a5a5a;
	margin: 40px 0 15px 43px;
	max-width: 450px;
}

.new-medium__description {
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 143%;
	color: #5a5a5a;
	margin: 0;
	padding: 0 48px 16px 43px;
	width: 100%;
	max-width: 407px;
}

.new-medium__button {
	border: none;
	padding: 33px 90px;
	background: #5e4dcd;
	border-radius: 15px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 43px 47px;
}

.new-medium__photo {
	background-image: url('../../images/innopolis-new.jpg');
	background-repeat: no-repeat;
	width: 296px;
	height: 299px;
	margin: 43px 41px 43px 0;
	background-size: contain;
	border-radius: 48px;
}

.new-medium_second {
	display: flex;
	background: #e8e8e8;
	border-radius: 48px;
	max-height: 385px;
	max-width: 737px;
}

.new-medium__title_second {
	font-family: 'NeueMachina', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 122%;
	text-transform: uppercase;
	color: #5a5a5a;
	margin: 50px 0 24px 39px;
}

.new-medium__description_second {
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 143%;
	color: #5a5a5a;
	margin: 0;
	padding: 30px 6px 47px 42px;
	width: 100%;
	max-width: 407px;
}

.new-medium__button_second {
	border: none;
	padding: 33px 90px;
	margin-left: 45px;
	background: #5e4dcd;
	border-radius: 15px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.new-medium__photo_second {
	background-image: url('../../images/medium-second.png');
	background-repeat: no-repeat;
	width: 296px;
	height: 299px;
	margin: 50px 28px 0 0;
	background-size: contain;
}

.news__title {
	font-family: 'NeueMachina', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 143%;
	text-transform: uppercase;
	color: #5e4dcd;
	margin: 129px 0 40px 193px;
}
.news__open {
	display: none;
	font-family: 'NeueMachina';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 322%;
	text-transform: uppercase;
	color: #5e4dcd;
	margin: 10px 10px 0 auto;
}
.new-big2 {
	background: #e8e8e8;
	border-radius: 48px;
	display: none;
	max-width: 340px;
	max-height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* 340 469 */
}
.new-big3 {
	background: #e8e8e8;
	border-radius: 48px;
	display: none;
	max-width: 340px;
	max-height: 470px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 340 469 */
}
.new-big__photo-inop {
	background-image: url('../../images/innopolis-new.jpg');
	padding-bottom: 0px;
	background-position: -5px;
}
@media screen and (max-width: 767px) {
	.news {
		max-width: 500px;
		margin-top: 60px;
	}
	.news__block {
		flex-direction: column;
		gap: 25px;
	}
	.new-big {
		max-width: 400px;
		min-height: 470px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* 340 469 */
	}
	.new-big2 {
		display: flex;
		max-width: 400px;
	}
	.new-big3 {
		max-width: 400px;
	}
	.new-big__info {
		order: 1;
		display: flex;
		flex-wrap: wrap;
	}
	.new-big__title {
		font-size: 20px;
		padding: 30px 0 19px 25px;
	}
	.new-big__description {
		font-size: 14px;
		padding: 0 0 20px 25px;
		width: 100%;
		max-width: 280px;
		height: 120px;
	}
	.new-big__button {
		padding: 26px 87px;
		margin: 0 auto 20px;
	}
	.new-big__photo {
		background-repeat: no-repeat;
		background-size: 100%;
		order: 0;
		width: 100%;
		max-width: 500px;
		height: 192px;
		margin: 0;
		border-radius: 48px;
		background-size: cover;
	}

	.new-medium {
		display: none;
	}
	.new-medium_second {
		display: none;
	}
	.new-small {
		display: none;
	}
	.news__title {
		font-size: 20px;
		margin: 60px auto 35px auto;
	}
	.news__open {
		background: none;
		border: none;
		display: block;
		cursor: pointer;
	}
	.new-medium_second_open {
		display: flex;
	}
}
@media screen and (max-width: 500px) {
	.news {
		max-width: 340px;
		margin-top: 50px;
	}
}
