.feedback {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 150px 0;

	position: relative;
}

.feedback::before {
	content: '';
	position: absolute;
	background-image: url('../../images/bit-preview.png');
	height: 100%;
	width: 700px;
	left: -334px;
	top: 10%;
}

.feedback::after {
	content: '';
	position: absolute;
	background-image: url('../../images/bit-preview.png');
	height: 100%;
	width: 700px;
	right: -330px;
	top: 25%;
}

.feedback__heading_sm {
	font-family: 'NeueMachina', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 143%;

	text-align: center;
	text-transform: uppercase;

	color: #5e4dcd;

	margin: 0;
}

.feedback__heading_md {
	font-family: 'NeueMachina', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 800;
	font-size: 34px;
	line-height: 143%;

	text-align: center;
	text-transform: uppercase;

	color: #5a5a5a;

	margin: 6px 0 120px 0;
}

.feedback__term {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 143%;

	text-align: center;
	text-transform: uppercase;

	color: #5a5a5a;

	margin-top: 50px;
}

.feedback__buttons {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 22px;
}

.feedback__button {
	border: none;
	max-width: 300px;
	width: 100%;
	padding: 33px 0;
	background: #5e4dcd;
	border-radius: 15px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.feedback__button.outline {
	background: none;
	border: 1px solid #5e4dcd;
	color: #5e4dcd;
}
@media screen and (max-width: 1840px) {
	.feedback__term {
		max-width: 800px;
	}
}
@media screen and (max-width: 1620px) {
	.feedback::after {
		right: -450px;
	}
	.feedback::before {
		left: -400px;
	}
}
@media screen and (max-width: 1400px) {
	.feedback::after {
		right: -500px;
	}
	.feedback::before {
		left: -450px;
	}
	.feedback__term {
		max-width: 700px;
		font-size: 17px;
	}
}
@media screen and (max-width: 1120px) {
	.feedback::after {
		right: -550px;
	}
	.feedback::before {
		left: -500px;
	}
	.feedback__term {
		max-width: 700px;
		font-size: 15px;
	}
}
@media screen and (max-width: 1020px) {
	.feedback::after {
		right: -550px;
	}
	.feedback::before {
		left: -500px;
	}
	.feedback__term {
		max-width: 500px;
		font-size: 15px;
	}
	.feedback__heading_md {
		font-size: 32px;
		margin-bottom: 50px;
	}
	.feedback__button {
		max-width: 250px;
	}
	.feedback__buttons {
		gap: 15px;
	}
}
@media screen and (max-width: 930px) {
	.feedback::before {
		display: none;
	}
	.feedback::after {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.feedback::before {
		display: none;
	}
	.feedback::after {
		display: none;
	}
	.feedback__heading_md {
		font-size: 24px;
	}
	.feedback__button {
		max-width: 218px;
		padding: 20px 0;
	}
	.feedback__buttons {
		flex-direction: column;
		gap: 25px;
	}
	.feedback__term {
		font-size: 10px;
		max-width: 400px;
	}
}
