.header {
	display: flex;
	justify-content: space-between;
	padding: 28.5px 0;
	padding-left: 91px;
	background-color: #fff;
	border-radius: 0 0 36px 36px;
	position: absolute;
	top: -10px;
	width: 100%;
	max-width: 1920px;
	box-sizing: border-box;
}

.header__logo {
	display: block;
	height: 27px;
	margin-right: auto;
}

.header__navigation {
}

.header_links {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.header_link {
}
.header__burger {
	display: none;
	padding-right: 50px;
}
.header_text {
	text-decoration: none;
	transition: all 1s ease;
	color: #6a6a6a;
	font-weight: 700;
	font-size: 16px;
	line-height: 143%;
	margin-right: 74px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
}
.header_text:hover {
	opacity: 0.6;
}

@media screen and (max-width: 767px) {
	.header {
		max-width: 767px;
	}
	.header__logo {
		height: 25px;
	}
	.header_links {
		display: none;
	}
	.header__burger {
		display: block;
	}
}
